body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
    background-color: aquamarine;
}

table {
    border-color:brown;
    width: 100%;
}

th, td {
    border: 2px solid;
    padding: 10px 15px;
}

th {
    background-color: coral;
}

